$red: #ff0000;
$dark: #202020;
$dark_bg: #181818;
$grey_text: #949494;
$login_color: #3ea6ff;
$blue: #3ea6ff;

$login_bg: #3d3d3d;

$github_bg: #ced6e0;

$search_bg: #121212;
$search_btn: #383838;

$subscribe_color: #cc0000;

$input_bg: #282828;

$white_opacity: rgba(
  $color: white,
  $alpha: 0.2,
);
