// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components
@import "./components/header.scss";
@import "./components/side-bar.scss";
@import "./components/video.scss";
@import "./components/logo.scss";
@import "./components/error.scss";
@import "./components/comments.scss";
@import "./components/profileImage.scss";

// Screens
@import "./screens/home.scss";
@import "./screens/login.scss";
@import "./screens/join.scss";
@import "./screens/watch.scss";
@import "./screens/uploadAndEditVideo.scss";
@import "./screens/profile.scss";
@import "./screens/editProfile.scss";
@import "./screens/changePassword.scss";
@import "./screens/search.scss";

// default
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $dark_bg;
  color: white;
}
main {
  width: 100%;
  display: flex;
  padding-top: 55px;
}

// Mediaquery - Home
@media screen and (max-width: 500px) {
  .side-bar--none {
    display: none;
  }
  .home__video-list {
    padding-left: 5%;
    .video {
      width: 100%;
    }
  }
  .header__search {
    visibility: hidden;
  }
}

@media screen and (min-width: 501px) and (max-width: 790px) {
  .side-bar--none {
    display: none;
  }
  .home__video-list {
    .video {
      width: 45%;
    }
  }
  .header__search {
    visibility: hidden;
  }
}
@media screen and (min-width: 791px) and (max-width: 870px) {
  .home__video-list {
    padding-left: 9%;
    .video {
      width: 45%;
    }
  }
  .header__search {
    visibility: hidden;
  }
}
@media screen and (min-width: 871px) and (max-width: 1130px) {
  .home__video-list {
    padding-left: 5%;
    .video {
      width: 30%;
    }
  }
}
@media screen and (min-width: 1131px) and (max-width: 1800px) {
  .home__video-list {
    padding-left: 5%;
    .video {
      width: 23%;
    }
  }
}
@media screen and (min-width: 1801px) and (max-width: 2130px) {
  .home__video-list {
    padding-left: 3%;
    .video {
      width: 18%;
    }
  }
}
@media screen and (min-width: 2131px) and (max-width: 2560px) {
  .home__video-list {
    padding-left: 5%;
    .video {
      width: 15%;
    }
  }
}

// Mediaquery - Watch Video
@media screen and (max-width: 580px) {
  .watch-video__meta__info {
    width: 1px;
    height: 1px;
    .watch-video__meta__views,
    .meta__block,
    .watch-video__meta__date {
      width: 1px;
      height: 1px;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 660px) {
  .watch-video__meta__info {
    .watch-video__meta__date,
    .meta__block {
      width: 1px;
      height: 1px;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 1004px) {
  .main-watch {
    .watch,
    .watch__related-video {
      width: 100%;
    }

    .related-video__info {
      width: 100%;
      .related-video__text {
        width: 100%;
        .related-video__title {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1005px) and (max-width: 1090px) {
  .watch-video__meta__info {
    .watch-video__meta__date,
    .meta__block {
      width: 1px;
      height: 1px;
      visibility: hidden;
    }
  }
}

// Mediaquery - Search
@media screen and (max-width: 500px) {
  .search {
    margin-left: 0px;
  }
}
@media screen and (min-width: 501px) and (max-width: 790px) {
  .search {
    margin-left: 0px;
  }
}
@media screen and (min-width: 791px) and (max-width: 1300px) {
  .search {
    margin-left: 80px;
  }
}

// Mediaquery - Profile
@media screen and (max-width: 510px) {
  .profile__header__nav {
    .btn-channel {
      display: none;
    }
  }
}
@media screen and (max-width: 595px) {
  .profile__header__nav {
    .btn-info {
      display: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .profile__header__nav {
    .nav__btn:last-child {
      display: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .profile {
    .profile__avatar {
      display: none;
    }
  }
}

@media screen and (max-width: 790px) {
  .main-profile {
    .profile {
      padding-left: 0px;
    }
  }

  .profile__body {
    padding-left: 5%;
  }
}
@media screen and (min-width: 791px) and (max-width: 894px) {
  .profile__body {
    padding-left: 7%;
  }
}
@media screen and (min-width: 895px) and (max-width: 1450px) {
  .profile__body {
    padding-left: 7%;
  }
}
