.main--row {
  display: flex;
  .home__video-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    width: 90vw;
    height: 0;
    margin: 20px auto 0px auto;
    padding-left: 30px;
  }
}
