.main__join {
  height: 100vh;
}

.join {
  .join__form {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    padding: 40px;
    border: 1px solid rgba($color: white, $alpha: 0.1);
    border-radius: 10px;
    .join__input {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      &:nth-child(4) {
        flex-direction: row;
        justify-content: space-between;
        input {
          width: 100%;
          &:first-child {
            margin-right: 10px;
          }
        }
      }
      input {
        height: 40px;
        background-color: unset;
        color: white;
        background-color: $dark;
        border: none;
        padding-left: 10px;
        &:focus {
          outline: none;
        }
      }

      .join__submit {
        height: 50px;
      }
    }
  }
}
