.main-watch {
  display: flex;
  max-width: 1600px;
  margin: 0px auto;
}

.watch {
  min-width: 450px;
  width: 70%;
  margin: 25px;
  .watch-video {
    position: relative;
    video {
      width: 100%;
    }
    .videoController {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 70px;
      position: absolute;
      bottom: 0;
      .videoController__time-line {
        padding: 0px 10px;
        input[type="range"] {
          width: 100%;
          -webkit-appearance: none;
          overflow: hidden;
          height: 3px;
          cursor: pointer;
          background: rgba($color: white, $alpha: 0.1);
          &:focus {
            outline: none;
          }
          &:hover {
            height: 5px;
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 5px;
            height: 5px;
            background-color: $red;
            box-shadow: -100vw 0 0 100vw $red;
          }
        }
      }
      .videoController__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
        padding: 0px 20px;
        i {
          font-size: 20px;
        }
        .videoController__btn__column {
          &:first-child {
            display: flex;
            #play,
            #mute {
              display: flex;
              width: 20px;
              margin-right: 20px;
            }
            .volumeController {
              display: flex;
              input[type="range"] {
                -webkit-appearance: none;
                margin: 9px 20px 0px 0px;
                width: 50px;
                overflow: hidden;
                height: 3px;
                cursor: pointer;
                background: rgba($color: white, $alpha: 0.3);
                &:focus {
                  outline: none;
                }
                &::-webkit-slider-thumb {
                  -webkit-appearance: none;
                  width: 3px;
                  height: 3px;
                  border-radius: 50%;
                  background-color: white;
                  box-shadow: -100vw 0 0 100vw white;
                }
              }
            }
            .videoTime {
              display: flex;
              align-items: center;
              font-size: 14px;
              opacity: 0.6;
              .border-line {
                margin: 0px 5px;
              }
            }
          }
        }
      }
    }
  }
  .watch-video__info {
    .watch-video__text {
      .watch-video__title {
        margin: 13px 0px;
        font-size: 20px;
        font-weight: 600;
      }
      .watch-video__meta {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .watch-video__meta__info {
          display: flex;
          align-items: center;
          font-size: 15px;
          color: $grey_text;
        }
        .watch-video__btn-container {
          display: flex;
          font-size: 15px;
          margin-right: 10px;
          i {
            margin-left: 25px;
            span {
              margin-left: 10px;
            }
          }
          .videoDelete {
            margin-left: 25px;
            button {
              background-color: unset;
              border: none;
              color: white;
            }
          }
        }
      }
    }

    .watch-video__owner {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid rgba($color: white, $alpha: 0.15);
      border-bottom: 1px solid rgba($color: white, $alpha: 0.15);
      padding: 20px 0px;
      .watch-video__owner__row {
        display: flex;
        .watch-video__owner__info {
          display: flex;
          flex-direction: column;
          .watch-video__owner-name {
            font-size: 16px;
            font-weight: 600;
            line-height: 2;
          }
          .watch-video__subscribe {
            font-size: 12px;
            color: $grey_text;
            margin-bottom: 20px;
          }
        }
      }
      .watch-video__owner__row:first-child {
        width: 50px;
      }
      .watch-video__owner__row:nth-child(2) {
        width: 90%;
        margin-left: 15px;
      }
      .watch-video__owner__row:last-child {
        width: 100px;
        justify-content: end;
        padding-right: 5px;
        button {
          width: 72px;
          height: 36px;
          border: none;
          border-radius: 2px;
          color: white;
          background-color: $subscribe_color;
        }
      }
    }
  }
}

.watch-video__comment {
  width: 100%;
  margin: 25px 0px;
  .watch-video__comment__text {
    font-size: 17px;
    margin-bottom: 25px;
  }
  .watch-video__comment__write {
    display: flex;
    font-size: 40px;
    margin: 20px 0px;
    .watch-video__comment__form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0px 20px;
      .watch-video__comment__input {
        padding-bottom: 5px;
        margin-bottom: 5px;
        background-color: unset;
        border: none;
        border-bottom: 1px solid rgba($color: white, $alpha: 0.15);
        color: white;
        &::placeholder {
          color: $grey_text;
        }
        &:focus {
          outline: none;
          border-bottom: 1px solid white;
        }
        &.login-required {
          cursor: text;
        }
      }
      .watch-video__comment__submit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          margin-top: 5px;
          font-size: 18px;
          opacity: 0.7;
        }
        .watch-video__comment__submit-btn {
          display: flex;
          button {
            width: 70px;
            height: 35px;
            border: none;
            border-radius: 2px;
            background-color: unset;
            color: rgba($color: white, $alpha: 0.6);
            &:last-child {
              margin-left: 5px;
              background-color: #303030;
              color: $grey_text;
              &.available {
                color: black;
                background-color: $blue;
              }
            }
          }
        }
      }
    }
  }
}

.watch-video__hashtags {
  font-size: 12px;
  color: $blue;
  line-height: 20px;
}

.watch__related-video {
  width: 400px;
  margin: 25px 25px 25px 0px;
}

.watch__related-video__list {
  display: flex;
  margin-bottom: 10px;
}

.hidden {
  visibility: hidden;
}

.cursorHidden {
  cursor: none;
}

.none {
  display: none;
}
