.comment,
custom-comment {
  display: flex;
  margin-bottom: 16px;
  .comment-user {
    i {
      width: 40px;
      height: 40px;
      font-size: 40px;
    }
  }
  .comment-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0px 20px 0px 10px;
    font-size: 14px;
    .comment-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding-left: 10px;
      .comment-info__createdAt {
        margin-left: 5px;
        font-size: 12px;
        color: $grey_text;
      }
      #settingBtn {
        margin-left: auto;
        button {
          background-color: unset;
          border: none;
          color: white;
          cursor: pointer;
          &:last-child {
            margin-left: 20px;
          }
        }
      }
    }
    .comment-textarea {
      line-height: 20px;
      padding-left: 10px;
    }
    .comment-btn {
      display: flex;
      .comment-btn__like,
      .comment-btn__dislike {
        font-size: 14px;
        margin: 10px 0px;
        button {
          text-align: start;
          background-color: unset;
          border: none;
          color: $grey_text;
          margin-right: 5px;
          cursor: pointer;
          &.clickBtn {
            color: white;
          }
        }
        span {
          margin-right: 10px;
          color: $grey_text;
        }
      }
      .comment-btn__reply {
        padding: 10px 20px;
        background-color: unset;
        border: 0px;
        color: $grey_text;
        font-size: 12px;
      }
    }
  }
}
