.logo {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 30px;
  .logo__icon {
    color: $red;
    margin-right: 15px;
  }
}

.logo-sm {
  display: flex;
  align-items: center;
  margin-left: 26px;
  .logo-sm__icon {
    color: $red;
    font-size: 27px;
    margin-right: 2px;
  }
  .logo-sm__text {
    font-size: 21px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -2px;
    position: relative;
    sup {
      font-size: 5px;
      position: absolute;
      letter-spacing: 1px;
      top: -5px;
      right: -19px;
      font-weight: 100;
      color: $grey_text;
    }
  }
}
