doctype html
html(lang="ko")
    head
        title 404 - Not Found
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            h1="404 Not Found"
            a(href="/") Home 
            