extends layout.pug
include mixins/video

block content
    div.home__video-list
        each video in videos 
            article.video
                +videoMixin(video)
        else 
            li Sorry nothing found
block script  
    script(src="/static/js/timeFormat.js")