doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body 
        include partials/header.pug
        //- main.main--column.main--row
        //- block main
            //- include partials/side-bar.pug
        block content
    script(src="/static/js/main.js")
    block script  