extends layout

block content
    if errorMessage
        span=errorMessage
    form(method="post")  
        input(name="username", type="text", required, placeholder="User Name") 
        input(name="password", type="password", required, placeholder="Password")
        input(type="submit", value="Login")
        br
        a(href="/users/github/login") Continue with GitHub &rarr; 
        br
        a(href="/users/kakao/login") Continue with Kakao &rarr; 
    hr
    div 
        span Don't have an acctount? 
        a(href="/join") Create now &rarr;