extends layout 
include mixins/video

block content
    form(method="get")
        input(name="keyword", type="text", placeholder="Search By title")
        input(type="submit", value="Search now")

    div
        each video in videos
            +videoMixin(video)