extends layout 
include mixins/video

block content
    main.main-search
        include partials/side-bar.pug
        div.search
            div.search__filter
                i.fa-solid.fa-sliders
                span 필터
            each video in videos
                    article.searched-video
                        +videoMixinSearch(video)
block script  
    script(src="/static/js/timeFormat.js")