aside
    ul
        li 
            a(href="").sidebar__btn           
                i.fa-solid.fa-house
                span 홈
        li 
            a(href="").sidebar__btn 
                i.fa-regular.fa-compass
                span 탐색
        li 
            a(href="").sidebar__btn 
                i.fa-solid.fa-bolt
                span Shorts
        li 
            a(href="").sidebar__btn
                i.fa-brands.fa-square-font-awesome-stroke
                span 구독                              
        li 
            a(href="").sidebar__btn 
                i.fa-solid.fa-window-restore
                span 보관함