extends ../layout 

block content
    article.change-password
        div.change-password__header
            a(href="edit") &larr;
            h1.change-password__header__title 비밀번호
        div.change-password__body
            div.change-password__body__text
                span 안전한 비밀번호를 만들고 같은 비밀번호를 다른 계정에 사용하지 마세요.
                span 비밀번호를 변경하면 기기에서 로그아웃되지만, 일부 예외가 있습니다.
            form(method="post").change-password__body__form
                div.form__input
                    div.form__input__label 
                        div.label__horizon-left
                        label(for="currentPassword").label__horizon-text 현재 비밀번호
                        div.label__horizon-right
                    input(name="currentPassword", type="password", id="currentPassword" required).form__input__current-password
                div.form__input
                    div.form__input__label 
                        div.label__horizon-left  
                        label(for="newPassword").label__horizon-text 새 비밀번호
                        div.label__horizon-right
                    input(name="newPassword", type="password", id="newPassword", required).form__input__new-password
                div.form__input  
                    div.form__input__label 
                        div.label__horizon-left  
                        label(for="newPassword2").label__horizon-text 새 비밀번호 확인
                        div.label__horizon-right
                    input(name="newPassword2", type="password", id="newPassword2", required).form__input__new-password2
                div.form__error
                    if errorMessage
                        span=errorMessage
                div.form__submit
                    input(type="submit", value="비밀번호 변경").form__submit__btn