extends ../layout
include ../mixins/video

block content 
    small 
        p=user.name 
    each video in user.videos
        article.video
            +videoMixin(video)
    else 
        li Sorry nothing found